img {
    width: 100%;
    height: auto;
    display: block;

    padding: 0.625rem;
    background: rgb(112, 12, 20);
    background: linear-gradient(90deg, rgba(112, 12, 20, 1) 0%, rgba(128, 61, 74, 1) 39%, rgba(206, 203, 203, 1) 100%);

}

.contenedor h2 {
    color: var(--color-main);
    font-weight: 700;
    font-size: 100%;
    margin: 10px;
}

h3 {
    font-weight: 700;
    font-size: 100%;

}

article.card {

    background-color: white;
    padding: 0.125rem;
    border: 0.25rem solid var(--color-main);
    box-shadow: 0.3125rem 0.125rem 1.25rem var(color-second);
    margin: 10px;

    & .flex {
        display: flex;
        flex-wrap: wrap;

        & figure {
            width: 50%;
        }

        &>div {
            width: 50%;
        }

    }
}

.iconos {
    background-color: var(--color-main);
}