img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0.625rem;
    background: linear-gradient(90deg, var(--color-main) 0%, rgb(215, 123, 142) 25%, rgb(222, 220, 220) 100%);

}

.card-container {
    border: 2px solid var(--color-third);
}


article {
    border: none;
    background-color: var(--color-white);
    border-radius: 0;
}

.card-container article.card {
    padding: 0.125rem;
    margin: 10px;

    & .flex {
        display: flex;
        flex-wrap: wrap;

        & figure {
            width: 50%;
        }

        &>div {
            width: 50%;
        }

    }
}