<div>
    <div class="card-container">
        <article class="card">
            <div class="flex">
                <figure>
                    <img [src]="workers.image" alt="">
                </figure>
                <div class="p-2">
                    <h3>{{workers.name}} {{workers.surname}}</h3>
                    <p class="p-2 my-2">Teléfono: {{workers.phone}}</p>
                    <p class="p-2 my-2">Email: {{workers.email}}</p>
                    <p class="p-2 my-2">Puesto: {{workers.job}}</p>
                    <p class="p-2 my-2">Ciudad: {{workers.city}}</p>
                </div>
            </div>
        </article>
    </div>
</div>