<section class="mx-5 mt-5">
    <h2 class="mb-4">Listado de tareas {{worker.name}}</h2>

    <div id="filtros" class="m-1 row">
        <div class="col-sm-5">
            <div>
                <h4 class="mb-2 pt-3">Filtrar:</h4>
                <div>
                    <label class="pe-3 pb-2"><span>Prioridad de la tarea:</span></label>
                    <select class="custom-select" (change)="onChangePriority($event)">
                        <option class="custom-option" value="">Todos</option>
                        <option class="custom-option" *ngFor="let priority of arrPriority" [value]="priority">
                            {{priority}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="pb-2">
                <h4 class="mb-2 pt-3">Ordenar:</h4>

                <label class="pe-3 pb-2"><span>Fecha de asignación:</span></label>
                <select class="custom-select" (change)="onChangeAssignmentDate($event)">
                    <option class="custom-option" value="reciente">Más reciente</option>
                    <option class="custom-option" value="antiguo">Más antigua</option>
                </select>

            </div>
            <div class="pb-2">

                <label class="pe-3 pb-2"><span>Fecha de entrega:</span></label>
                <select class="custom-select" (change)="onChangeDeadline($event)">
                    <option class="custom-option" value="reciente">Más reciente</option>
                    <option class="custom-option" value="antiguo">Más antigua</option>
                </select>

            </div>
        </div>

        <!-- <div class="col-sm-2">
            <button class="my-3 new-button" *ngIf="botonActivo" [routerLink]="['/tasks','new']">
                AÑADIR TAREA
            </button>
        </div> -->
    </div>
    <div class="my-4">
        <article class="mb-4 m-1 accordion accordion-flush" *ngFor="let task of arrTasks; let i = index">
            <h3 class="accordion-header" [id]="'flush-heading-' + i">
                <button class="accordion-button custom-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#flush-collapse-' + i" aria-expanded="false"
                    [attr.aria-controls]="'flush-collapse-' + i"
                    [ngClass]="{'red-title': task.priority === 'incidencia', 'black-title': task.priority === 'actualización'}">
                    <h4>{{task.title}}</h4>
                </button>
            </h3>
            <div [id]="'flush-collapse-' + i" class="accordion-collapse collapse"
                [attr.aria-labelledby]="'flush-heading-' + i" data-bs-parent="#accordionFlush">
                <div class="mb-1 accordion-body">
                    {{task.description}}
                </div>
            </div>
            <div class="p-3 mb-3">
                <p class="mb-3"><span><i class="fa-solid fa-circle-exclamation"></i> PRIORIDAD DE LA TAREA:</span>
                    {{task.priority}}</p>
                <p><span><i class="fa-solid fa-calendar-days"></i> PLAZO MÁXIMO:</span> {{task.deadline |
                    date:'dd-MM-yyyy'}}
                </p>
                <p><span><i class="fa-solid fa-calendar-days"></i> FECHA DE ASIGNACIÓN:</span> {{task.assignment_date|
                    date:'dd-MM-yyyy'}}
                </p>
            </div>
            <button class="mb-4 edit" *ngIf="botonActivo"
                [routerLink]="['/tasks','edit', task.id, task.users_id, task.Constructions_id]">Editar
                Tarea
            </button>
        </article>
    </div>

</section>
