h2 {
    color: var(--color-second);
    font-size: var(--fontsize-h2);
    font-weight: var(--fontweight-h2);
}

h3 {
    color: var(--color-main);
    font-weight: var(--fontweight-h3);
    font-size: var(--fontsize-h3);
    font-family: var(--font-secondary);

}


h4 {
    font-size: var(--fontsize-h4);
    font-weight: 600;
}

span {
    font-weight: 600;

}

.data {
    padding-top: 0.5rem;
    font-weight: 400;
    display: block;
}

i {
    color: var(--color-main);
}

.sedes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

article {
    border: 1px solid var(--color-third);
    background-color: var(--color-white);

    &:hover {
        border: 1px solid var(--color-main);
        background-color: rgb(234, 234, 234);
    }
}



/* mediaqueries */


@media(min-width: 48rem) {}

@media(min-width: 62.5rem) {}

@media(min-width: 87.5rem) {

    h2 {
        color: var(--color-second);
        font-size: var(--fontsize-h2);
        font-weight: var(--fontweight-h2);
    }

    h3 {
        color: var(--color-main);
        font-weight: var(--fontweight-h3);
        font-size: var(--fontsize-h3);
        font-family: var(--font-secondary);
    }


    h4 {
        font-size: var(--fontsize-h4);
        font-weight: 600;
    }

    span {
        font-weight: 600;
    }

    .data {
        font-weight: 400;
    }

    i {
        color: var(--color-main);
    }

    .sedes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    article {
        border: 1px solid var(--color-third);
        background-color: var(--color-white);

        &:hover {
            border: 1px solid var(--color-main);
            background-color: rgb(234, 234, 234);
        }
    }

}