<section class="mx-5 mt-5">
    <h2 class="mb-4">NUESTRAS SEDES</h2>
    <p></p>
    <div class="my-4 sedes">
        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SEDE NORTE (Principal)</h3>
                <ul>
                    <li class="mb-3"><i class="fa-solid fa-location-dot pe-2"></i><span>Dirección:</span> Calle Falsa
                        123, Evergreen Terrace</li>
                    <li class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono:</span> 91-666-55-44</li>
                    <li class="mb-3"><i class="fa-solid fa-envelope pe-2"></i><span>Email:</span>
                        contacto-sedenorte@sgal.com</li>
                    <li class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario:</span> L-V 08:00h a 20:00h
                    </li>
                    <li class="mb-3"><i class="fa-solid fa-circle-info pe-2"></i><span>Info:</span></li>
                </ul>
            </div>
            <div class="p-4"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2623.5756015429392!2d-8.643389390972388!3d42.43062526003546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1702544382822!5m2!1ses!2ses"
                    width="540" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>

        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SEDE CENTRO</h3>
                <ul>
                    <li class="mb-3"><i class="fa-solid fa-location-dot pe-2"></i><span>Dirección:</span> Calle Falsa
                        123, Evergreen Terrace</li>
                    <li class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono:</span> 91-666-55-44</li>
                    <li class="mb-3"><i class="fa-solid fa-envelope pe-2"></i><span>Email:</span>
                        contacto-sedenorte@sgal.com</li>
                    <li class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario:</span> L-V 08:00h a 20:00h
                    </li>
                    <li class="mb-3"><i class="fa-solid fa-circle-info pe-2"></i><span>Info:</span></li>
                </ul>
            </div>
            <div class="p-4"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2627.2515978205715!2d-3.6882894872773324!3d40.46635988848445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1702544195574!5m2!1ses!2ses"
                    width="380" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </article>


        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SEDE LEVANTE</h3>
                <ul>
                    <li class="mb-3"><i class="fa-solid fa-location-dot pe-2"></i><span>Dirección:</span> Calle Falsa
                        123, Evergreen Terrace</li>
                    <li class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono:</span> 91-666-55-44</li>
                    <li class="mb-3"><i class="fa-solid fa-envelope pe-2"></i><span>Email:</span>
                        contacto-sedenorte@sgal.com</li>
                    <li class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario:</span> L-V 08:00h a 20:00h
                    </li>
                    <li class="mb-3"><i class="fa-solid fa-circle-info pe-2"></i><span>Info:</span></li>
                </ul>
            </div>
            <div class="p-4"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2869.4326770218822!2d-0.4895880296188528!3d38.34576979789012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1702544260306!5m2!1ses!2ses"
                    width="380" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </article>
    </div>
</section>