<section class="mx-5 mt-5">
    <h2 class="mb-5">NUESTRAS SEDES</h2>
    <p></p>
    <div class="my-4 sedes">
        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SEDE NORTE (Principal)</h3>
                <ul>
                    <li class="mb-3"><i class="fa-solid fa-location-dot pe-2"></i><span>Dirección:</span> <span
                            class="data">Praza de España 5, 36002 - Pontevedra</span></li>
                    <li class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono:</span> <span
                            class="data">98-745-23-78</span></li>
                    <li class="mb-3"><i class="fa-solid fa-envelope pe-2"></i><span>Email:</span>
                        <span class="data">contacto-sedenorte@sgal.com</span>
                    </li>
                    <li class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario:</span> <span class="data">L-V
                            08:00h a 20:00h</span>
                    </li>
                </ul>
            </div>
            <div class="p-4"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d736.1953230039677!2d-8.648285730394825!3d42.43238999819914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f71c51f81de9b%3A0xfb9a2985d2415ad6!2sPraza%20de%20Espa%C3%B1a%2C%205%2C%2036002%20Pontevedra!5e0!3m2!1ses!2ses!4v1702836556300!5m2!1ses!2ses"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>

        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SEDE CENTRO</h3>
                <ul>
                    <li class="mb-3"><i class="fa-solid fa-location-dot pe-2"></i><span>Dirección:</span> <span
                            class="data">P.º de la Castellana 156, 28046 - Madrid</span></li>
                    <li class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono:</span> <span
                            class="data">91-489-78-11</span></li>
                    <li class="mb-3"><i class="fa-solid fa-envelope pe-2"></i><span>Email:</span>
                        <span class="data">contacto-sedecentro@sgal.com</span>
                    </li>
                    <li class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario:</span> <span class="data">L-V
                            08:00h a 21:00h</span>
                    </li>
                </ul>
            </div>
            <div class="p-4"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.8511270910785!2d-3.6921206244691755!3d40.456431871433296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42291db2851067%3A0x17f14585f8f6bd2e!2sP.%C2%BA%20de%20la%20Castellana%2C%20156%2C%20Chamart%C3%ADn%2C%2028046%20Madrid!5e0!3m2!1ses!2ses!4v1702836599622!5m2!1ses!2ses"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </article>


        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SEDE LEVANTE</h3>
                <ul>
                    <li class="mb-3"><i class="fa-solid fa-location-dot pe-2"></i><span>Dirección:</span> <span
                            class="data">Plaza los Luceros 15, 03004 - Alicante</span></li>
                    <li class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono:</span> <span
                            class="data">96-789-11-34</span></li>
                    <li class="mb-3"><i class="fa-solid fa-envelope pe-2"></i><span>Email:</span>
                        <span class="data">contacto-sedelevante@sgal.com</span>
                    </li>
                    <li class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario:</span> <span class="data">L-V
                            09:00h a 19:00h</span>
                    </li>
                </ul>
            </div>
            <div class="p-4"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.1017749482867!2d-0.49333382458643193!3d38.34662637184687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd62364d84fdac05%3A0xf6a02c935315bbc5!2sPlaza%20de%20los%20Luceros%2C%20Pl.%20de%20los%20Luceros%2C%2015%2C%2003004%20Alicante%20(Alacant)%2C%20Alicante!5e0!3m2!1ses!2ses!4v1702836680607!5m2!1ses!2ses"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </article>
    </div>
</section>