<section class="mb-4">
    <h1>SOBRE NOSOTROS</h1>
    <div>
        <p class="primero">Bienvenido a SGAL Construciones, la firma de construcción que refleja la esencia y la
            tradición gallega
            en cada
            proyecto. Nos enorgullece ser una empresa arraigada en la bella tierra de Galicia, donde la artesanía, la
            dedicación y
            el respeto por la historia se entrelazan en cada ladrillo que colocamos y cada estructura que levantamos.
        </p>
    </div>
    <h2>Nuestra Historia</h2>
    <div>
        <p class="Bienvenido">Fundada en 2023, SGAL Construciones ha crecido desde sus humildes comienzos hasta
            convertirse en un
            referente en el sector de la construcción en Galicia y el resto de Europa. Nos hemos destacado por nuestro
            compromiso con la
            calidad, la
            innovación y la satisfacción del cliente.</p>
    </div>
    <h2>Compromiso con la Calidad</h2>
    <div>
        <p class="Bienvenido">En cada proyecto que emprendemos, nos esforzamos por alcanzar los más altos estándares de
            calidad. Nuestro
            equipo de
            profesionales altamente capacitados y dedicados trabaja incansablemente para garantizar que cada detalle sea
            ejecutado
            con precisión y cuidado.</p>
    </div>
    <h2>Valores Gallegos</h2>
    <div>
        <p class="Bienvenido">Nos sentimos profundamente conectados con los valores que definen a Galicia: la
            honestidad, la tenacidad y el
            sentido de
            comunidad. Estos valores impregnan todo lo que hacemos, desde la selección de materiales hasta la relación
            con nuestros
            clientes y colaboradores.</p>
    </div>
    <h2>Nuestro Compromiso Ambiental</h2>
    <div>
        <p class="Bienvenido">En SGAL Construciones, reconocemos la importancia de construir un futuro sostenible. Es
            por eso que nos
            comprometemos a adoptar prácticas ecoamigables en cada etapa de nuestros proyectos, minimizando nuestro
            impacto
            ambiental y contribuyendo a la preservación de la belleza natural de Galicia.</p>
    </div>
    <h2>Contacta con Nosotros</h2>
    <div>
        <p class="Bienvenido">Estamos ansiosos por ser parte de tu próximo proyecto. Ya sea que estés planeando
            construir una nueva
            vivienda, renovar
            un espacio existente o embarcarte en un proyecto comercial, en SGAL Construciones estamos listos para
            convertir tus
            ideas en realidad.

            Descubre el compromiso, la calidad y la excelencia que nos distingue. ¡Contáctanos hoy para comenzar tu
            viaje de
            construcción con SGAL Construciones!</p>
    </div>









</section>