h2 {
  color: var(--color-second);
  font-size: var(--fontsize-h2);
  font-weight: var(--fontweight-h2);
}

h3 {
  color: var(--color-main);
  font-weight: var(--fontweight-h3);
  font-size: var(--fontsize-h3);
  line-height: var(----font-lineheight);
}

h4 {
  font-size: var(--fontsize-h4);
  font-weight: 600;
}

/* iconos */

i {
  color: var(--color-third);
}

/* imputs del formulario*/

label {
  font-weight: var(--fontweight-h3);
  margin: 0 3.125rem;
  margin-top: 1.875rem;

}
.error{
  padding-left: 50px;
}
input {
  display: block;
  width: 60rem;
  padding: 10px 5px;
  margin: 0 3.125rem;


}

select {

  width: 60rem;
  display: block;
  margin: 0 3.125rem;

}

textarea {
  display: block;
  margin: 0 3.125rem;

  width: 60rem;
  height: 8rem;
  padding: 0.3rem;

}


.custom-option {
  color: var(--color-second);
  background-color: white;
  border: 1px solid var(--color-second);
  padding: 0.3rem;
}

.custom-select {
  color: var(--color-second);
  background-color: white;
  border: 1px solid var(--color-second);
  padding: 0.3rem;
}

.custom-option:focus {
  outline: none;
  box-shadow: 0 0 0px 1px var(--color-second);
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 0px 1px var(--color-second);
}

::placeholder {
  color: var(--color-second);
  font-style: italic;
  font-size: 0.8rem;
}

/* efecto del borde cuando los campos están correctos o incorrectos */

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}


textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-valid.ng-touched {
  border: 2px solid green;
}

select.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-valid.ng-touched {
  border: 2px solid green;
}


/* boton de crear */
.button-create {

  color: white;
  background-color: var(--color-second);
  border: none;
  padding: 1rem;
  font-weight: 500;
  width: 15rem;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
      background-color: var(--color-main);
  }
}

/*errores */
p {
  color: var(--color-main);
  font-style: italic;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}


/* Sección antes de crear tu nuevo reporte */
.advice {
  font-style: italic;
  line-height: var(--font-lineheight);
}

a {
  color: var(--color-main);
  text-decoration: none;

}

span {
  font-weight: 600;
}

.back {
  cursor: pointer;
}

.back h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-second);

  &:hover {
      color: var(--color-main);
  }
}


/* mediaqueries */

@media(max-width: 35rem) {
  input {
      width: 20rem;
  }

  select {
      width: 20rem;
  }

  textarea {
      width: 20rem;
  }

  .date {
      width: 20rem;
  }
}
