<section class="m-5">
    <div class="back">
        <i class="fa-solid fa-arrow-left "></i>
        <h4 class="d-inline" (click)="goBack()"> Volver</h4>
    </div>
    <article *ngIf="constructionSelected">
        <div>
            <h2 class="mb-5 mt-3">{{constructionSelected.name}}</h2>
            <div class="flex-container">

                <figure>
                    <img [src]="constructionSelected.image" alt="imagen de la obra">
                    <div class="dates">
                        <p class="mb-3 asigned"><span>Inicio: </span>{{constructionSelected.assignment_date |
                            date:'dd-MM-yyyy'}}</p>
                        <p class="mb-3 deadline"><span>Finalización: </span>{{constructionSelected.deadline |
                            date:'dd-MM-yyyy'}}</p>
                    </div>
                </figure>

                <div class="construction-info mt-3 ">
                    <p class="c-info mb-3 pe-5"><i
                            class="fa-solid fa-location-crosshairs pe-2"></i>{{constructionSelected.city}}</p>
                    <p class="c-info mb-3"><i
                            class="fa-solid fa-building pe-2"></i>{{constructionSelected.construction_type}}</p>
                    <p class="my-4 description">{{constructionSelected.description}}</p>
                </div>

            </div>
        </div>
        <div class="row mb-5 p-4 bloque-2">
            <!--             <div class="map col-8" *ngFor="let construction of arrConstructions">
                <app-map [constructions]="construction"></app-map> -->
        </div>
        <div class="map-info col-4">
            <h3 class="mb-5">INFORMACIÓN</h3>

            <p class="mb-3 "><i class="fa-solid fa-location-dot pe-2"></i> <span>Dirección:</span></p>
            <p class="mb-5 ps-5">{{constructionSelected.direction}}</p>

            <p class="mb-3"><i class="fa-solid fa-phone pe-2"></i><span>Teléfono de caseta de obra: </span></p>
            <p class="mb-5 ps-5">{{constructionSelected.phone}}</p>

            <p class="mb-3"><i class="fa-solid fa-clock pe-2"></i><span>Horario laboral:</span></p>
            <p class="mb-5 ps-5">{{constructionSelected.work_time}}</p>

        </div>
        <!--         </div> -->

        <section id="worker-area" *ngIf="userLogged.role == 'admin'" class="row">
            <h3 class="mb-4">Operarios asignados:</h3>
            <div class="mb-5 worker-flex" *ngFor="let worker of arrWorkers">
                <app-card-workers [workers]="worker"></app-card-workers>
                <div>
                    <button [routerLink]="['/tasks','task', worker.id, worker.Constructions_id]"
                        class="worker-button">Tareas
                        asignadas</button>

                    <button [routerLink]="['/tasks','new', worker.id, worker.Constructions_id]"
                        class="worker-button">Asignar
                        tarea</button>

                    <button (click)="onClickRetirar(worker.id)" class="worker-button2">Retirar de la obra</button>
                </div>
            </div>



        </section>
        <section *ngIf="userLogged.role == 'admin'" id="admin-area">
            <div class="dropdown">
                <button class="admin dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Área privada
                </button>

                <ul class="dropdown-menu">
                    <li class="px-2"> <button class="mb-3" *ngIf="botonActivo"
                            [routerLink]="['/constructions','construction', 'reports', constructionSelected.id]">
                            <i class="fa-regular fa-file-lines pe-3"></i> Ver reportes
                        </button></li>
                    <li class="px-2"> <button class="mb-3" *ngIf="botonActivo" [routerLink]="['/workers']">
                            <i class="fa-solid fa-user-plus"></i> Asignar operarios
                        </button></li>
                    <li class="px-2"><button class="mb-3" *ngIf="botonActivo"
                            [routerLink]="['/constructions','edit', constructionSelected.id]">
                            <i class="fa-solid fa-pen-to-square pe-3"></i>Editar Obra
                        </button></li>
                    <li class="px-2"> <button *ngIf="botonActivo" (click)="onClickDelete(constructionSelected.id)"><i
                                class="fa-solid fa-trash-can pe-3"></i>Borrar Obra
                        </button></li>
                </ul>
            </div>
        </section>
    </article>

</section>