<header>
    <nav-bar></nav-bar>
</header>

<!-- header -->
<main>
    <section id="projects">
        <div class="contenedor row">
            <div class="photos col-8">
                <article>
                    <h3>Obras Finalizadas</h3>
                </article>
                <article>
                    <h3>Retrasos de obras</h3>
                </article>
                <article>
                    <h3>Promociones SGAL 2024</h3>
                </article>

            </div>
            <div class="col-4">
                <iframe
                    src="https://calendar.google.com/calendar/embed?src=e771f066462e47c9a9d8d4e0f18b3192e855bf116af5d1f96b0e0e6736d6c5ec%40group.calendar.google.com&ctz=Europe%2FMadrid"
                    style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
          <h2>MI AREA PRIVADA</h2>
            <app-card-workers class="col-5"></app-card-workers>
            <div class="botones col-7">
                <ul class="row">
                    <li class="col-3">Obras <i class="fa-solid fa-city"></i></li>
                    <li class="col-3">Operarios <i class="fa-solid fa-person-digging"></i></li>
                    <li class="col-3">Asignación <i class="fa-solid fa-list-check"></i></li>
                    <li class="col-3">Reportes <i class="fa-regular fa-message"></i></li>
                    <li class="col-3">Perfil <i class="fa-regular fa-address-card"></i></li>
                    <li class="col-3">Formación <i class="fa-solid fa-graduation-cap"></i></li>
                    <li class="col-3">Permisos <i class="fa-regular fa-calendar"></i></li>
                    <li class="col-3">Docs <i class="fa-solid fa-file-contract"></i></li>
                </ul>
            </div>
        </div>
    </section>



</main>

<!-- fin del header -->
<footer>
    <app-footer></app-footer>
</footer>
