<div class="calendar">
    <div class="header">
        <button (click)="previousMonth()"><i class="fa-solid fa-arrow-left"></i></button>
        <h2>{{ currentMonth | date: 'MMMM y' }}</h2>
        <button (click)="nextMonth()"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

    <table>
        <thead>
            <tr>
                <th *ngFor="let day of daysOfWeek">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of weeksInMonth">
                <td *ngFor="let day of week">
                    <div class="day" [ngClass]="{'today': isToday(day), 'event': hasEvent(day)}">
                        {{ day | date: 'd' }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>