<header>
    <nav class="nav-top">
        <div class="nav-columns mx-5">
            <h1>SGAL <span>Construcciones</span></h1>
            <h3>Portal del Empleado</h3>
            <ul class="icons">
                <li><i class="fa-solid fa-bell fa-xs"></i></li>
                <li><i class="fa-solid fa-gear"></i></li>
                <li (click)="onClickLogoff()" ><i class="fa-solid fa-power-off"></i></li>
            </ul>
        </div>
    </nav>
    <nav class="nav-bottom">
        <div class="wrapper-nav-links mx-5">
            <ul class="nav-links ">
                <li [routerLink]="['/home']">HOME</li>
                <li *ngIf="userLogged.role == 'admin'" [routerLink]="['/constructions']">OBRAS</li>
                <li *ngIf="userLogged.role == 'worker'" [routerLink]="['/constructions', 'construction', userLogged.Constructions_id]">MI OBRA</li>
                <li *ngIf="userLogged.role == 'admin'" [routerLink]="['/workers']">USUARIOS</li>
                <li [routerLink]="['/offices']">SEDES</li>
                <li [routerLink]="['/error']">NOTICIAS</li>
                <li [routerLink]="['/error']">NOSOTROS</li>
            </ul>
        </div>
    </nav>
</header>


<!--
    ALI: ESTO DE LOS DESPLEGABLES LO DEJO COMENTADO POR SI LO NECESITAMOS MAS ADELANTE
    <div class="dropdown">
    <li class="dropdown-toggle text-white" type="button" id="dropdownMenuDark" data-bs-toggle="dropdown"
        aria-expanded="false">
        OBRAS
    </li>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuDark">
        <li><a class="dropdown-item" href="#">En Curso</a></li>
        <li><a class="dropdown-item" href="#">Finalizadas</a></li>
    </ul>
</div>-->
