/* NavBar bottom */
.nav-top {
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 1.5rem;
}

.nav-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


h1 {
    font-size: var(--fontsize-h2);
    font-weight: var(--fontweight-h2);
}

h2 {
    font-size: var(--fontsize-h3);
}

h3 {
    font-size: var(--fontsize-h3);
}

span {
    font-size: 2rem;
    font-family: var(--font-secondary);
}

.left h3 {
    font-family: var(--font-secondary);
    font-size: calc(var(--fontsize-h2) * 1.5);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}





.icons {
    cursor: pointer;

    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

i {
    color: var(--color-white);

    &:hover {
        color: var(--color-second);
    }
}

/* NavBar bottom */
.nav-bottom {
    background-color: var(--color-second);
    color: var(--color-white);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 1rem;

}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
    padding: 0 20px;
    cursor: pointer;
    color: var(--color-white);
    font-size: var(--fontsize-h4);
    font-weight: var(--fontweight-h4);

    &:hover {
        color: var(--color-main);
    }
}


@media (max-width: 768px) {
  .nav-links{
    flex-direction: column;
    & li{
      margin: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .nav-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    & .icons{
      margin-top: 50px;
    }
    /* & h1{
      display: flex;
      justify-content: center;
      align-items: center;
    } */
    & h3{
      display: none;
    }
  }
}
