/* NavBar bottom */
.nav-top {
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 1.5rem;
}

.nav-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


h1 {
    font-size: var(--fontsize-h2);
}

h2 {
    font-size: var(--fontsize-h3);
}

.icons {
    cursor: pointer;

    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

i {
    color: var(--color-white);

    &:hover {
        color: var(--color-second);
    }
}

/* NavBar bottom */
.nav-bottom {
    background-color: var(--color-second);
    color: var(--color-white);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.nav-links li {
    cursor: pointer;
    color: var(--color-white);
    font-size: var(--fontsize-h4);
    font-weight: var(--fontweight-h4);

    &:hover {
        color: var(--color-main);
    }
}