h2 {
    color: var(--color-second);
    font-size: var(--fontsize-h2);
    font-weight: var(--fontweight-h2);
}


/* listado de operarios */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 1.5rem;
}

article {
    width: 250px;
    border: 2px solid var(--color-third);

    &:hover {
        border: 2px solid var(--color-main);
        transform: scale(1.1);
    }
}

figure {
    position: relative;
}

h3 {
    color: var(--color-second);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-main);
}

p {
    font-size: 0.9rem;
}

span {
    font-weight: var(--fontweight-h2);
}

/* filtros */
#filtros {
    background-color: rgb(234, 234, 234);

}

#filtros h4 {
    color: var(--color-main);
    font-size: var(--fontsize-h4);
    font-weight: var(--fontweight-h4);
    font-family: var(--font-secondary);
}

.custom-select {
    color: var(--color-second);
    background-color: white;
    padding: 3px;
    border: 1px solid var(--color-second);
}

.custom-option {
    color: var(--color-second);
    background-color: white;
}

.custom-select:focus {
    outline: none;
    box-shadow: none;
}

/* boton de Añadir reporte */

.new-button {
    color: var(--color-white);
    background-color: var(--color-second);
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    font-size: calc(var(--fontsize-h4)/1.5);
    line-height: var(--font-lineheight);
    border-radius: 10px;
    width: 9rem;

    &:hover {
        background-color: var(--color-main);
    }

}

/* REVISAR */

figure {
    height: 200px;
    position: relative;
}