<section class="m-5">
    <h2 class="mb-4">NUESTROS OPERARIOS</h2>

    <div id="filtros" class="m-1 row">
        <div class="col-sm-3">
            <div>
                <h4 class="mb-2 pt-3">Filtrar:</h4>
                <div>
                    <label class="pe-3 pb-2"><span>Selecciona la ciudad:</span></label>
                    <select class="custom-select" (change)="onChangeCity($event)">
                        <option class="custom-option" value="">Todas</option>
                        <option class="custom-option" *ngFor="let city of arrCities" [value]="city">{{city}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <h4 class="mb-2 pt-3">Filtrar:</h4>
                <div>
                    <label class="pe-3 pb-2"><span>Selecciona el puesto:</span></label>
                    <select class="custom-select" (change)="onChangeJob($event)">
                        <option class="custom-option" value="">Todos</option>
                        <option class="custom-option" *ngFor="let job of arrJobs" [value]="job">{{job}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="pb-2">
                <h4 class="mb-2 pt-3">Ordenar:</h4>
                <div>
                    <label class="pe-3 pb-2"><span>Ordenar por apellido:</span></label>
                    <select class="custom-select" (change)="onChangeName($event)">
                        <option class="custom-option" value="asc">De la A a la Z</option>
                        <option class="custom-option" value="desc">De la Z a la A</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div>
                <button class="my-3 button-filter " *ngIf="botonActivo" [routerLink]="['/workers','new']">
                    CREAR NUEVO OPERARIO
                </button>
            </div>
        </div>
    </div>

    <div class="my-5 flex-container">

        <article class="mb-2" *ngFor="let worker of arrWorkers">
            <h3 class="pb-2">{{worker.name}} {{worker.surname}}</h3>
            <div class="flex-container2" *ngIf="botonActivo">
                <figure>
                    <img [src]="worker.image" alt="imagen del operario">
                </figure>

                <div class="mt-3 p-2 data-cover">
                    <small>{{worker.job}} en {{worker.city}}</small>
                    <div class="data pt-5">
                        <ul class="ps-3">
                            <li class="pb-2"><span>Teléfono:</span></li>
                            <p class="pb-3">{{worker.phone}}</p>
                            <li class="pb-2"><span>Email:</span></li>
                            <p>{{worker.email}}</p>
                        </ul>
                    </div>
                </div>

                <div class="dropdown">
                    <i class="fa-regular fa-pen-to-square admin" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu">
                        <li class="px-2"><button class="" *ngIf="botonActivo"
                                [routerLink]="['/workers','edit', worker.id]">
                                Editar Operario
                            </button></li>
                        <li class="px-2"><button class="p-2" *ngIf="botonActivo"
                                (click)="onClickDelete(worker.id)">Borrar
                                Operario
                            </button></li>
                        <li class="px-2"><button class="border-bottom-0 p-2" *ngIf="worker.active == false"
                                (click)="onClick(worker.id)">
                                Asignar Operario
                            </button> </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>



</section>