<section class="m-5">
    <h2 class="mb-5">LISTADO DE OPERARIOS</h2>
    <div id="filtros" class="mb-5" class="row">
        <div class="col-6">
            <div class="mb-3">
                <label>Selecciona la ciudad</label>
                <select (change)="onChangeCity($event)">
                    <option value="">Todas las ciudades</option>
                    <option *ngFor="let city of arrCities" [value]="city">{{city}}
                    </option>
                </select>
            </div>
            <!-- <div class="mb-3">
                <label>Selecciona el rol</label>
                <select (change)="onChangeRole($event)">
                    <option value="">Todos los roles</option>
                    <option *ngFor="let role of arrRoles" [value]="role">{{role}}</option>
                </select>
            </div> -->
            <div class="mb-3">
                <label>Selecciona el puesto</label>
                <select (change)="onChangeJob($event)">
                    <option value="">Todos los puestos</option>
                    <option *ngFor="let job of arrJobs" [value]="job">{{job}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label>Ordenar por apellido</label>
                <select (change)="onChangeName($event)">
                    <option value="asc">De la A a la Z</option>
                    <option value="desc">De la Z a la A</option>
                </select>
            </div>
            <!-- <div class="mb-3">
                <label>Ordenar por apellido del Operario</label>
                <select (change)="onChangeSurname($event)">
                    <option value="A-Z">De la A a la Z</option>
                    <option value="Z-A">De la Z a la A</option>
                </select>
            </div> -->
        </div>


        <div class="my-5">
            <article class="mb-5" *ngFor="let worker of arrWorkers">
                <div class="row">
                    <h3 class="mb-3">{{worker.name}} {{worker.surname}}</h3>
                    <div class="col-3">
                        <figure class="mb-2">
                            <img [src]="worker.image" alt="imagen del post">
                        </figure>
                        <p class="mb-3">{{worker.job}} en {{worker.city}}</p>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-7">

                        <p class="mb-3">Teléfono: {{worker.phone}}</p>
                        <p class="mb-3">Email: {{worker.email}}</p>
                        <p class="mb-3">Contraseña: {{worker.password}}</p>
                        <p class="mb-3">DNI: {{worker.dni}}</p>
                        <p class="mb-3">Permisos: {{worker.role}}</p>
                        <div class="pb-3">
                            <button class="p-2" *ngIf="botonActivo" [routerLink]="['/workers','edit', worker.id]">
                                Editar Operario
                            </button>
                            <!-- <button class="p-2" *ngIf="botonActivo" (click)="onClickDelete(worker._id)">Borrar Operario -->
                            <!-- </button> -->
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
