/* footer arriba */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    display: flex;
}

.top{
  background-color: var(--color-second);
    color: var(--color-white);
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

h3 {
    font-weight: var(--fontweight-h3);
}

p {
    font-size: 0.9rem;
}

span {
    font-size: 1.1rem;
    font-weight: var(--fontweight-h3);
    font-family: var(--font-secondary);

}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem
}

i {
    font-size: 1.5rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social li {
    cursor: pointer;

    &:hover {
        color: var(--color-main);
    }
}

/* footer abajo */
.footer-bottom {
    color: var(--color-second);
    background-color: var(--color-main);
}

.items {
    display: flex;
    justify-content: space-between;
}

.policy li {
    cursor: pointer;

    &:hover {
        color: var(--color-white);
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
}


@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
}

.footer-bottom {
  flex-direction: column;
}

  .contact{

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons{

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
