<div id="wrapper" class="row">
    <section class="left col-5">
        <h2 class="epi">EPI´S
            <div class="logo">
                <h2>SGAL</h2>
                <hr>
                <h3>Construcciones</h3>
            </div>
        </h2>

    </section>
    <section class="mt-4 right col-7">
        <i class="fa-solid fa-arrow-left "></i>
        <h4 class="d-inline back" [routerLink]="['/home']"> volver a la Home</h4>
        <div class="my-4">
            <h3>PROTECCIÓN COLECTIVA E INDIVIDUAL </h3>
            <hr>
            <p class="m-4">Se entiende por protección colectiva aquella técnica de seguridad cuyo objetivo es la
                protección simultánea de varios trabajadores expuestos a un determinado riesgo.</p>
            <p class="m-4">El apartado h del artículo 15 de la LPRL,<b>principios de la acción preventiva</b>,
                especifica que dentro de las medidas a realizar respecto a la prevención de riesgos- hay que adoptar
                medidas que antepongan la protección colectiva a la individual.</p>
            <p class="m-4">Una vez adoptadas tales medidas, y como complemento de éstas, se pueden utilizar medidas de
                protección individual; aquellas para uso exclusivo de una persona.</p>
            <p class="m-4">Para una mejor comprensión de esta diferencia, exponemos el siguiente ejemplo: en un
                laboratorio de
                ciencias utilizamos un ácido que emite vapores tóxicos. Una medida de protección colectiva sería colocar
                una campana de extracción que aspire ese vapor tóxico, mientras que una medida de protección individual
                sería la utilización de una mascarilla por parte del operario. Desde el punto de vista preventivo es más
                efectiva la utilización de medidas de protección colectiva; son más seguras y abarcan a un mayor número
                de personas. Ante un peligro potencial no basta con dar un EPI al operario, hay que evitar ese riesgo
                con una medida que proteja al conjunto de la población expuesta, complementando tales medidas con EPI´s
                específicos.</p>
            <h2>Protección colectiva</h2>
            <hr>
            <ul class="m-4">
                <li class="mb-2">Barandillas, pasarelas y escaleras.</li>
                <li class="mb-2">Andamios y redes antiácidas.</li>
                <li class="mb-2">Sistemas de ventilación.</li>
                <li class="mb-2">Barreras de protección acústicas.</li>
                <li class="mb-2">Vallado perimetral de zonas de trabajo.</li>
                <li class="mb-2">Marquesinas contra caída de objetos.</li>
                <li class="mb-2">Extintores de incendios.</li>
                <li class="mb-2">Medios húmedos en ambientes polvorientos.</li>
                <li class="mb-2">Carcasa de protección de motores o piezas en continuo movimiento.</li>
                <li class="mb-2">Señalizaciones e indicativos.</li>
                <li class="mb-2">Barreras de protección térmicas en centros de trabajo.</li>
                <li class="mb-2">Orden y limpieza, etc.</li>
            </ul>
            <p class="m-4">Hay muchos más, dependiendo de los tipos de riesgos. El criterio de clasificación a aplicar
                es el de
                protección a una colectividad.</p>
            <h2>Protección individual</h2>
            <hr>
            <p class="m-4">Se entiende por «equipo de protección individual o EPI» cualquier equipo destinado a ser
                llevado o
                sujetado por el trabajador para que le proteja de uno o varios riesgos que puedan amenazar su seguridad
                o su salud, así como cualquier complemento o accesorio destinado a tal fin. La normativa legal respecto
                a los EPI´s se centra fundamentalmente en dos aspectos:</p>
            <ul class="m-4">
                <li class="mb-2">En sus circunstancias de fabricación y comercialización, recogidas en el <span>R.D.
                        1407/1992</span>, de 20 de noviembre, por el que se regulan las condiciones para la
                    comercialización y libre circulación intracomunitaria de los equipos de protección individual.</li>
                <li class="mb-2">En los distintos tipos que existen y su forma de utilización, que está recogido en el
                    <span>R.D. 773/1997</span>, de 30 de mayo, sobre disposiciones mínimas de seguridad y Salud
                    relativas a la
                    utilización por los trabajadores de equipos de protección individual.
                </li>
            </ul>
            <p class="m-4">Para facilitar la comprensión de todo lo relativo a estos equipos de protección individual
                hacemos un pequeño resumen de estos Reales Decretos, remitiéndoos a los mismos para una mayor
                información.</p>
            <p class="m-4">La protección personal tiene por objeto proteger al trabajador o trabajadora frente a
                peligro potenciales que se producen durante una actividad laboral determinada.</p>
            <p class="m-4">La protección personal es la última barrera entre el hombre y el riesgo y debe considerarse
                como una técnica complementaria a la protección colectiva, ya que esta última se diseña y aplica con el
                fin de eliminar la situación de riesgo, mientras que la protección personal pretende eliminar, o en su
                defecto mitigar, las consecuencias que para la salud del trabajador se derivan de la situación de
                riesgo.</p>
            <p class="m-4">Los equipos de protección personal deben:</p>
            <ul class="m-4">
                <li class="mb-2">Ser de uso individual.</li>
                <li class="mb-2">Ajustarse a las características anatómicas del usuario.</li>
                <li class="mb-2">Cada usuario debe ser instruido sobre las características de los equipos que se le
                    entregan, de sus posibilidades y de sus limitaciones.<b>Tales especificaciones deberá darse por
                        escrito.</b></li>

                <li class="mb-2">Ser mantenidos y conservados correctamente.
                    <ul class=" mb-2 ms-3">
                        <li class="mt-2 mb-2">Responsabilidad del usuario.</li>
                        <li class="mb-2">Controlado por el empresario.</li>
                    </ul>
                </li>
            </ul>
            <h2>Clasificación de los equipos de protección individual</h2>
            <hr>
            <p class="m-4">Existen distintos sistemas de clasificación de los EPI´s . Los más utilizados son los que se
                basan en si la protección es integral o parcial.</p>
            <p class="m-4">Medios parciales de protección: "Son aquellos que protegen al individuo frente a riesgos que
                actúan preferentemente sobre partes o zonas concretas del cuerpo."</p>

            <h2><span class="span">Medios integrales de protección</span></h2>
            <p class="m-4">Existen distintos sistemas de clasificación de los EPI´s . Los más utilizados son los que se
                basan en si la protección es integral o parcial.</p>

            <h2>Clasificación de los equipos de protección individual</h2>
            <p class="m-4">Son aquellos que protegen al individuo frente a riesgos que no actúan sobre partes o zonas
                determinadas del cuerpo, proporcionando de esta forma una seguridad “integral” o completa sobre todo el
                organismo. Ejemplos de estos tipos de EPI´s son:</p>
            <ul>
                <li class="mb-4">Ropa de trabajo.
                    <figure>
                        <img class="w-50"
                            src="https://www.giliindustrial.com/blog/wp-content/archivos/2022/03/flexwork-ropa-laboral-moderna.jpg"
                            alt="">
                    </figure>
                </li>
                <li class="mb-4">Prendas de señalizacion.
                    <figure>
                        <img src="https://i.postimg.cc/9fpLpQds/prendas-de-se-alizacion.gif" alt="">
                    </figure>
                </li>
                <li class="mb-4">Cinturones de seguridad anticaídas.
                    <figure>
                        <img src="https://preventecsl.es/wp-content/uploads/2016/02/Arnes-seguridad-anticaidas-S72.jpg"
                            alt="">
                    </figure>
                </li>
                <li class="mb-4">Protección frente a riesgos eléctricos:
                    <ul class=" mb-2 ms-4">
                        <li class="mt-2 mb-2">Pertigas.
                            <figure>
                                <img src="https://cdnebasnet.com/data/cache/opt_jpg/eshop/sofamel/images/products/i/2/2/8/p228/0000-bmts-46-2-1428752164-500x500.jpg"
                                    alt="">
                            </figure>
                        </li>
                        <li class="mb-4">Alfombras aislantes.
                            <figure>
                                <img src="https://www.kpnsafety.com/wp-content/uploads/2022/10/Nuevo-proyecto-14.webp"
                                    alt="">
                            </figure>
                        </li>
                        <li class="mb-4">Banquetas aislantes.
                            <figure>
                                <img src="https://cdnebasnet.com/data/cache/opt_jpg/eshop/sofamel/uploads/images/Trabajo%20Bien%20Hehco/TrabajoBienHecho6-3947494217-1400x1400.jpg"
                                    alt="">
                            </figure>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</div>