<section class="container" id="form-editworker">
    <div class="back ms-5 mt-5">
        <i class="fa-solid fa-arrow-left "></i>
        <h4 class="d-inline" (click)="goBack()"> Volver</h4>
    </div>

    <h2 class="m-5">EDITAR OPERARIO</h2>
    <form [formGroup]='editWorker' (ngSubmit)="onSubmit()">

        <div class="">
            <label>Nombre:</label>
            <input type="text" formControlName='name' placeholder="Inserta aquí el nombre del operario">
            <p class="error" *ngIf="checkError('name','required')">
                El nombre es obligatorio.</p>
            <p class="error" *ngIf="checkError('name','minlength')">La longitud mínima son 3 caracteres.</p>
            <p class="error" *ngIf="checkError('name','maxlength')">La longitud máxima son 45 caracteres.</p>
        </div>

        <div class="">
            <label>Apellidos:</label>
            <input type="text" formControlName='surname' placeholder="Inserta aquí el apellido del operario">
            <p class="error" *ngIf="checkError('surname','required')">
                El apellido es obligatorio.</p>
            <p class="error" *ngIf="checkError('surname','minlength')">La longitud mínima son 3 caracteres.</p>
            <p class="error" *ngIf="checkError('surname','maxlength')">La longitud máxima son 70 caracteres.</p>
        </div>

        <div class="">
            <label>Fotografía del operario:</label>
            <input type="text" formControlName='image' placeholder="Inserta aquí la url de la imagen">
            <p class="error" *ngIf="checkError('image','required')">
                La imagen es obligatoria.</p>
        </div>

        <div class="">
            <label>Dni:</label>
            <input type="text" formControlName='dni' placeholder="Inserta aquí el DNI del operario">
            <p class="error" *ngIf="checkError('dni','required')">El
                dni es obligatorio.</p>
            <p class="error" *ngIf="checkError('dni','dniValidator')">Inserta un dni válido.</p>
        </div>

        <div class="">
            <label>Teléfono de contacto:</label>
            <input type="text" formControlName='phone' placeholder="Inserta aquí el teléfono del operario">
            <p class="error" *ngIf="checkError('phone','required')">El
                teléfono es obligatorio.</p>
            <p class="error" *ngIf="checkError('phone','minlength')">La longitud mínima son 3 caracteres.</p>
            <p class="error" *ngIf="checkError('phone','maxlength')">La longitud máxima son 12 caracteres.</p>
        </div>

        <div class="">
            <label>Email:</label>
            <input type="email" formControlName='email' placeholder="Inserta aquí el email del operario">
            <p class="error" *ngIf="checkError('email','required')">El email es obligatorio.</p>
            <p class="error" *ngIf="checkError('email','pattern')">El formato del email no es válido.</p>
        </div>

        <!-- <div class="ocultar">
            <label>Contraseña:</label>
            <input type="text" formControlName='password' placeholder="Inserta aquí el la contraseña del operario">
            <p class="error" *ngIf="checkError('password','required')">La contraseña es obligatoria.</p>
            <p class="error" *ngIf="checkError('password','passwordvalidator')">El formato de la constraseña no es
                válido. Debe tener al menos un carácter en mayúscula, un carácter numérico, un carácter especial y su
                longitud no puede superar 20 caracteres</p>
        </div> -->

        <div class="">
            <label>Puesto:</label>
            <input type="text" formControlName='job' placeholder="Inserta aquí el puesto del operario">
            <p class="error" *ngIf="checkError('job','required')">El
                puesto es obligatorio.</p>
            <p class="error" *ngIf="checkError('job','minlength')">La longitud mínima son 3 caracteres.
            </p>
            <p class="error" *ngIf="checkError('job','maxlength')">La longitud máxima son 70 caracteres.
            </p>
        </div>

        <div class="">
            <label>Ciudad:</label>
            <input type="text" formControlName='city' placeholder="Inserta aquí la ciudad de la obra">
            <p class="error" *ngIf="checkError('city','required')">
                La ciudad es obligatoria.</p>
            <p class="error" *ngIf="checkError('city','minlength')">La longitud mínima son 3 caracteres.</p>
            <p class="error" *ngIf="checkError('city','maxlength')">La longitud máxima son 70 caracteres.</p>
        </div>

        <div class="">
            <label>Rol:</label>
            <select formControlName='role'>
                <option value="admin">Admin</option>
                <option value="worker">Operario</option>
            </select>
            <p class="error" *ngIf="checkError('role','required')">
                El rol es obligatorio.</p>
        </div>


        <div class="">
            <label>Activo:</label>
            <select formControlName='active'>
                <option value="0" selected>Sí</option>
                <option value="1">No</option>
            </select>
            <p class="error" *ngIf="checkError('active','required')">
                El estado es obligatorio.</p>
        </div>

        <div class="m-5">
            <input class="button-create" type="submit" value="Editar operario">
        </div>

    </form>
</section>
