<section class="mx-5 mt-5">
    <h2 class="my-4">NOTICIAS</h2>
    <p></p>
    <div class="my-4 news">
        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">Construimos más de 2000 viviendas en Levante cerrando el año como líderes en
                    residencial en Valencia</h3>
                <p>por SGALConstrucciones <i class="ps-3 fa-regular fa-calendar"><span> 14 de
                            Diciembre</span></i></p>
                <h4 class="my-4">SGAL Construcciones continúa fortaleciendo negocio en el levante peninsular. De las más
                    de 2.000 viviendas proyectadas en toda la Comunidad Valenciana, 1.569 ya han sido entregadas, y 664
                    lo harán en los próximos meses. Estas últimas, reportando a la compañía 73,2 millones de euros.</h4>
                <p class="mt-2">Entre los proyectos ya entregados destaca, por un lado, la Torre Habitat Malilla; un
                    edificio a dos alturas de 20 y 14 plantas, con una superficie de más de 25.000 m2. Inaugurado en
                    2020, es uno de los edificios residenciales más altos de la zona, desarrollado en el entonces nuevo
                    barrio de Malilla Norte, frente al Hospital de la Nueva Fe. El edificio, de NAC Arquitectos, fue
                    galardonado con el Premio COACV 2021 de Obra Nueva.</p>
                <p class="mt-3 cursor collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
                    aria-expanded="false" aria-controls="collapseExample1">
                    Leer más<i class="ms-2 fa-solid fa-arrow-right"></i>

                <div class="collapse" id="collapseExample1">

                    <p class="mt-2">Por otra parte, destaca la residencia Valencia Viveros de Livensa Living que, con
                        una
                        superficie de más de 10.000 m2 en el centro de Valencia, combina nueva construcción con área
                        rehabilitada y ofrece 284 habitaciones individuales, equipadas con cocina y baño privado y un
                        amplio
                        abanico de zonas comunes de alta calidad: terraza con piscina en la azotea, sala de juegos,
                        gimnasio, cine y sala multimedia, salas de coworking, biblioteca, 2 grandes cocinas comunitarias
                        y
                        parking de 50 plazas para bicicletas y coches (con instalaciones de recarga eléctricas).
                    </p>
                    <p class="mt-2">En los próximos meses, además, se entregará otro de los proyectos singulares de SGAL
                        Construcciones en la Comunidad Valenciana: las torres del proyecto Stay by Kronos, con 338
                        viviendas
                        de régimen de build to rent (BtR). Este proyecto, que cuenta con el certificado BREEAM de
                        construcción sostenible, integra 3 torres de 14, 13 y 5 plantas, con 160, 104 y 74 viviendas
                        respectivamente. Se trata de las primeras edificaciones del PAI (Plan de Actuación Integrada) de
                        Camino Hondo del Grao, zona de expansión de la ciudad de Valencia hacia el puerto.</p>
                    <h4 class="my-4">Cerca de 900 viviendas más para 2024</h4>
                    <p class="mt-2">2023 finaliza para la Delegación Este de SGAL Construcciones con las adjudicaciones
                        de
                        876 viviendas más en Quart de Poblet por un importe que se aproxima a los 100 millones de euros.
                        Concretamente, se trata de 285 viviendas en régimen de Protección Oficial para la inmobiliaria
                        Gesarqus (Livanto Promociones S.L.), y de 591 viviendas de BtR para la Joint Venture formada
                        entre
                        DeA Capital y Harrison Street, actuando como promotor delegado Grupo Ferrocarril, construidas en
                        dos
                        torres. El primero de estos proyectos tiene prevista su ejecución para el primer trimestre de
                        2024,
                        y el segundo, se iniciará antes de que termine 2023.</p>
                </div>
            </div>
        </article>
        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">SGAL Construcciones incorpora la compra de aluminio reciclado</h3>
                <p>por SGALConstrucciones <i class="ps-3 fa-regular fa-calendar"><span> 15 de
                            Noviembre</span></i></p>
                <h4 class="my-4">En línea con su firme compromiso con la economía circular y la reducción de emisiones
                    de CO2, SGAL Construcciones ha firmado un acuerdo con la multinacional Cortizo para incorporar
                    ventanas de aluminio 100% reciclado a las obras que ejecuta para su diversa cartera de clientes. La
                    empresa constructora sella así una nueva alianza con un proveedor que es líder sectorial en España y
                    referente a nivel internacional.</h4>


                <p class="italic mt-2">“Con este acuerdo, fortalecemos nuestra apuesta por una construcción alineada con
                    los principios de la circularidad y la reducción de la huella de carbono, un paradigma en el que no
                    solo se tiene en cuenta la calidad, sino que los materiales utilizados minimicen el impacto
                    ambiental. La política de compras responsable y sostenible de SGAL Construcciones, que estamos
                    desarrollando de forma transversal a nuestras unidades de negocio, también se ve claramente
                    beneficiada por este acuerdo”, ha señalado el Director General de SGAL Construcciones.
                </p>

                <p class="mt-3 cursor collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample2">
                    Leer más<i class="ms-2 fa-solid fa-arrow-right"></i>

                <div class="collapse" id="collapseExample2">

                    <p class="mt-2">En este sentido, es especialmente relevante la apuesta por el aluminio, un metal que
                        puede ser reciclado infinitas veces sin merma alguna de sus propiedades. Concretamente, las
                        ventanas
                        con las que se equiparán los nuevos proyectos ejecutados por SGAL Construcciones estarán
                        fabricadas
                        a partir del tocho de aluminio Infinity, una materia prima que ha sido generada en las plantas
                        de
                        fundición de Cortizo, reciclando ventanas, puertas, fachadas y barandillas que han terminado su
                        vida
                        útil.
                    </p>
                    <p class="mt-2">Cabe destacar que la fabricación de Infinity, auditada por el organismo
                        independiente
                        Bureau Veritas, arroja menos de 0,5 kilos de CO2 por cada kilo de aluminio producido. Este dato,
                        calculado según las normas ISO 14025 y EN15804, lo sitúa con una de las huellas de carbono más
                        bajas
                        del mercado, reduciendo además un 95 % las emisiones de carbono y el consumo energético respecto
                        a
                        la producción de tocho primario según la media de los datos ofrecidos por la Asociación Europea
                        del
                        Aluminio.</p>

                    <p class="mt-2">El acuerdo entre SGAL Construcciones y Cortizo contribuirá a la expansión de un
                        modelo
                        circular, de reutilización, más sostenible y respetuoso con el medio ambiente. “Estamos
                        convencidos
                        de que la implicación de todos los agentes del sector de la edificación propiciará la creación
                        de
                        nuevos espacios que sitúen la eficiencia energética y la economía circular en el centro de sus
                        diseños”, ha afirmado Daniel Lainz, Director General de Arquitectura de Cortizo.</p>
                </div>
            </div>
        </article>
        <article class="mb-5">
            <div class="p-4">
                <h3 class="mb-4">La construcción afronta un crecimiento pequeño y desigual en 2023 y 2024</h3>
                <p>por SGALConstrucciones <i class="ps-3 fa-regular fa-calendar"><span> 20 de
                            Septiembre</span></i></p>
                <h4 class="my-4">Crédito y Caución prevé que la producción global de la construcción aumente un 3,2% en
                    2023. “El
                    desempeño en las economías avanzadas está cerca del estancamiento, sólo un 0,3% por encima del
                    pasado ejercicio. El sector de la construcción se enfrenta a un crecimiento modesto, la mayor parte
                    del cual procederá de la actividad en mercados emergentes, donde el sector crecerá un 5,8%”,
                    afirman.</h4>
                <p class="mt-2">Además de las diferencias regionales, existe una brecha entre los proyectos
                    residenciales y
                    comerciales. Se prevé que la construcción residencial en el mundo crezca sólo un 1,1% en 2023 y un
                    0,6% en 2024. En muchas economías avanzadas registrará contracciones este ejercicio. Los elevados
                    tipos de interés e hipotecarios, junto con la alta inflación, están forzando las capacidades de
                    compra y reduciendo la demanda. “Los costes de los materiales y de la mano de obra siguen siendo
                    elevados en muchas economías, lo que ha provocado presiones sobre los márgenes y una ralentización
                    de los nuevos proyectos de construcción”, añaden. Sin embargo, Crédito y Caución prevé que la
                    construcción no residencial crezca un 5% en 2023 y un 1,7% en 2024. La ingeniería civil también
                    mostrará cierto dinamismo, con crecimientos del 5,6% este año y del 3,6% en 2024.</p>

                <p class="mt-3 cursor collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
                    aria-expanded="false" aria-controls="collapseExample3">
                    Leer más<i class="ms-2 fa-solid fa-arrow-right"></i>
                </p>
                <div class="collapse" id="collapseExample3">

                    <p class="mt-2">
                        “En la mayoría de los mercados la competencia del sector es intensa, los márgenes son
                        reducidos y
                        los compradores públicos suelen pagar con retraso. Hay una mayor proporción de quiebras
                        empresariales que en la mayoría de los demás sectores. El sector afronta, además, una
                        escasez de
                        mano de obra. La falta de trabajadores cualificados puede aumentar los costes salariales y
                        es un
                        problema grave en muchos mercados avanzados. El sector también hace frente a importantes
                        presiones
                        para reducir su impacto ambiental, ya que representa el 36% del consumo mundial de energía y
                        el 40%
                        de las emisiones de CO2”, declaran.
                    </p>
                </div>

            </div>
        </article>
    </div>
</section>