section {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.error-container {
    display: flex;
    width: 100%;
}

.left-rectangle {
    background-color: var(--color-main);
    padding: 20px;
    width: 39%;
    height: 100vh;
    color: white;
    font-family: var(--font-main);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    font-size: 12.5rem;
    font-weight: 700;
}



.right-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}

.calvo {
    font-size: 1.5rem;

}

.back-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-third);
    color: #fff;
    text-decoration: none;
    font-size: 1.19rem;
    margin-top: 1.25rem;
    border-radius: 5px;
}

.back-home:hover {
    background-color: var(--color-main);
}



@media (max-width:700px) {
    .back-home {
        display: flex;
        position: center;

        font-size: 0.85rem;

        margin-top: 0.85rem;
        border-radius: 5px;
    }

    .error {
        font-size: 5.5rem;
        font-weight: 500;
    }

    .calvo {
        font-size: 1.1rem;
    }

}