<section class="m-5">
    <h2 class="mb-5">LISTADO DE OBRAS</h2>

    <div id="filtros" class="my-4 p-1 row">
        <div class="col-6">
            <div class="row">
                <h4 class="col-2">Filtrar:</h4>
                <div class="col-3">
                    <label class="pe-3 pb-2">Ubicación</label>
                    <select (change)="onChangeCity($event)">
                        <option value="">España</option>
                        <option *ngFor="let city of arrCities" [value]="city">{{city}}
                        </option>
                    </select>
                </div>

                <div class="col-5">
                    <label class="pe-3 pb-2">Tipo de construcción</label>
                    <select (change)="onChangeConstructionType($event)">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let type of arrConstructionTypes" [value]="type">{{type}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <h4 class="col-2">Ordenar:</h4>
                <div class="col-3">
                    <label class="pe-3 pb-2">Nombre</label>
                    <select (change)="onChangeName($event)">
                        <option value="A-Z">De la A a la Z</option>
                        <option value="Z-A">De la Z a la A</option>
                    </select>
                </div>

                <div class="col-3">
                    <label class="pe-3 pb-2">Creación</label>
                    <select (change)="onChangeAssignmentDate($event)">
                        <option value="reciente">Más reciente</option>
                        <option value="antiguo">Más antigua</option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="pe-3 pb-2">Finalización</label>
                    <select (change)="onChangeDeadline($event)">
                        <option value="reciente">Más reciente</option>
                        <option value="antiguo">Más antigua</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--     <search-bar></search-bar> -->

    <div class="my-5 flex-container">
        <article class="mb-2" *ngFor="let construction of arrConstructions">
            <div class="article-clickable" *ngIf="botonActivo"
                [routerLink]="['/constructions',':constructionId', construction._id]">
                <figure>
                    <img [src]="construction.image" alt="imagen de la obra">
                    <small>{{construction.construction_type}}</small>
                </figure>
                <div class="data px-3">
                    <h3 class="mb-3">{{construction.name}}</h3>
                    <p class="mb-3"><span class="city">{{construction.city}}</span>
                    </p>
                    <p class="mb-3"><span>Finalización:</span> {{construction.deadline | date:'dd-MM-yyyy'}}</p>
                </div>
            </div>
        </article>
    </div>
    <!-- ESTO ES EL PAGINADO PARA CUANDO SE PUEDA USAR ENLAZADO CON EL BACK
    <div class="paginado">
        <button class="anterior" (click)="modifyPage(false)" [disabled]="page === 1">
            Anterior
        </button>
        <button class="siguiente" (click)="modifyPage(true)" [disabled]="page === totalPages">
            Siguiente
        </button>
    </div> -->

</section>

<!-- 

            <button *ngIf="botonActivo" [routerLink]="['/constructions','edit', construction._id]">
                Editar Obra
            </button>
            <button *ngIf="botonActivo" (click)="onClickDelete(construction._id)">Borrar Obra
            </button> -->


<!--       <p class="mb-3">{{construction.description}}</p> -->
<!--       <p class="mb-3"><span>Teléfono de caseta de obra: </span>{{construction.phone}}</p>
<p class="mb-5"><span>Horario laboral:</span> {{construction.work_time}}</p> <p class="mb-3"><span>Dirección:</span> {{construction.direction}}</p>-->
<!--   <p class="mb-3"><span>Fecha de inicio: </span>{{construction.assignment_date | date:'dd/MM/yyyy'}}</p> -->

<!-- _id: string;
name: string;
description: string;
direction: string;
city: string,
assignment_date: Date;
deadline: Date;
phone: string;
construction_type: string;
work_time: string;
lat?: number;
lng?: number;
 -->