<section id="form-newReport" class="mx-5 mt-5">

    <h2 class="mb-5">NUEVA TAREA </h2>

    <div class="row">
        <form class="col-sm-7" [formGroup]='newTask' (ngSubmit)="onSubmit()">
            <h3 class="mb-4"> <i class="fa-regular fa-pen-to-square me-2"></i>Registra una nueva tarea:</h3>
            <div class="mb-4">
                <label class="mb-1">Título</label>
                <input class="custom-option" type="text" formControlName='title'
                    placeholder="Inserta aquí el nombre de la tarea">
                <p class="error" *ngIf="checkError('title','required')">
                    El título es obligatorio.</p>
                <p class="error" *ngIf="checkError('title','minlength')">La longitud mínima son 3 caracteres.</p>
                <p class="error" *ngIf="checkError('title','maxlength')">La longitud máxima son 70 caracteres.</p>
            </div>

            <div class="mb-4">
                <label class="mb-1">Descripción:</label>
                <textarea class="custom-option" formControlName='description'
                    placeholder="Inserta aquí la descripción de la tarea">
                </textarea>
                <p class="error" *ngIf="checkError('description','required')">
                    La descripción es obligatoria.</p>
                <p class="error" *ngIf="checkError('description','minlength')">La longitud mínima son 3 caracteres.</p>
            </div>
            <div class="mb-4">
                <label class="mb-1">Prioridad:</label>
                <select class="custom-select" formControlName="priority">
                    <option class="custom-option" value="alta">Alta</option>
                    <option class="custom-option" value="media">Media</option>
                    <option class="custom-option" value="baja">Baja</option>
                </select>
                <p class="error" *ngIf="checkError('priority','required')">La prioridad es obligatoria.</p>
            </div>
            <div class="mb-4">
                <label class="mb-1">Fecha de entrega:</label>
                <input class="custom-option date" type="date" formControlName='deadline'
                    placeholder="Inserta aquí la fecha de hoy">
                <p class="error" *ngIf="checkError('deadline','required')">
                    La fecha de entrega obligatoria.</p>
            </div>

            <div class="mb-4">
                <label class="mb-1">Fecha de asignación</label>
                <input class="custom-option date" type="date" formControlName='assignment_date'
                    placeholder="Inserta aquí la fecha de hoy">
                <p class="error" *ngIf="checkError('assignment_date','required')">
                    La fecha de asignación obligatoria.</p>
            </div>

            <div class="pt-2 pb-5">
                <input class="button-create" type="submit" value="CREAR TAREA">
            </div>
        </form>
    </div>
</section>
